{{ define "main" }}
<main>
    <article class="post h-entry"  id="post-{{ .Permalink | md5 }}">
        <header>
            <h1 class="p-name">{{ .Title }}</h1>
        </header>
        <p><small>
            {{ i18n "postedon" }} <a href="{{ .Permalink }}">{{ .Date.Format (.Site.Params.DateFormat | default "2 January 2006") }}</a>
            {{ i18n "postedby"}} {{ .Params.Author | default (.Site.Author.name) }}
        </small></p>
        <section class="p-content">
            {{ partial "featured_image" . }}
            {{ .Content | safeHTML }}
        </section>
        <footer>
            {{ if .Params.categories }}
            <div><small>
                Categories:
                {{ range .Params.categories | sort }}
                <a class="p-category" href="{{ "/categories/" | relLangURL }}{{ . | urlize }}" >{{- . -}}</a>
                {{ end }}
            </small></div>
            {{ end }}
            {{ if .Params.tags }}
            <div><small>
                Tags:
                {{ range .Params.tags | sort }}
                <a class="p-category" href="{{ "/tags/" | relLangURL }}{{ . | urlize }}" >{{- . -}}</a>
                {{ end }}
            </small></div>
            {{ end }}
        </footer>
        {{ partial "related.html" .}}
    </article>
</main>
{{ end }}{{/* main */}}